/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Yeseva+One&display=swap');
.container {
    width: 1500px;
    margin: auto;
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    color: #88d7ff;
}